body {
  font-family:Bitstream Vera Sans, Tahoma, sans-serif;
  font-size:15px;
}
h1, h2, table, tr, td, div, span {
  font-family: Bitstream Vera Sans, Tahoma, sans-serif;
}
table {
  font-size:13px;
}
td, div { white-space:nowrap; padding:0px; margin:0px; }
h1 { font-size:22px; }
h2 { font-size:18px; }
h3 { font-size:16px; }

.alertmessage {
  font-size:11px;
}
i.alertmessage { font-size:9px; }
h1.alertmessage { 
  margin-top:5px;
  font-size:13px; 
  margin-bottom:1px;
}
h2.alertmessage { font-size:12px; }
h3.alertmessage { font-size:11px; }
p.alertmessage {
  margin-top:1px;
  margin-bottom:5px;
}

/* The basic elements of a text report page. */
.tj_text_page {
}

.tj_column_left {
  display:inline-block;
}

.tj_column_center {
  display:inline-block;
}

.tj_column_right {
  display:inline-block;
}

/* The top-level page layout */
.tj_page {
  margin: 35px 5% 25px 5%;
}

/* The container that holds report tables */
.tj_table_block {
  text-align:center;
}

/* The Frame around a report table that also encloses headline and
 * caption */
.tj_table_frame {
  background-color:#9a9a9a;
  margin-top:15px;
  margin-bottom:15px;
  padding:1px;
  display:inline-block;
}

/* The headline box for report tables */
.tj_table_headline {
  font-size:16px; 
  font-weight:bold;
  white-space:nowrap;
  padding:5px;
  margin:1px;
  text-align:center;
  color:#000000;
  background-color:#d4dde6; 
}

.tj_table {
  background-color:#9a9a9a;
  margin:0px;
  border-spacing:1px;
}

/* The caption box for report tables */
.tj_table_caption {
  padding: 5px 13px 5px 13px;
  background-color:#ebf2ff;
  text-align:left;
  white-space:normal;
  margin:1px;
  font-size:13px
}

/* The legend of resource tables */
.tj_table_legend {
  background-color:#d4dde6;
  margin:1px;
  padding:3px 1% 3px 1%;
  display: block;
}

/* A row of the table legend */
.tj_legend_row {
  margin:3px;
  display: block;
}

/* A legend row has 3 items. An item contains a label and a symbol */
.tj_legend_item {
  display: inline-block;
  text-align:left;
  width: 27.3%;
  margin-left:4%;
  margin-right:2%;
}

.tj_legend_symbol {
  position: relative;
  right:0px;
  width:45px;
  display:inline-block;
}

.tj_legend_label {
  text-align: left;
  left:0px;
  padding-right:10%;
  display:inline-block;
}

.tj_tooltip_trigger {
  position:fixed; 
  top:0px;
  left:0px;
  visibility:hidden;
}

.tj_cell_icon {
  vertical-align:top;
  margin-top:1px;
  margin-right:3px;
}

.tabback {
  background-color:#9a9a9a;
}
.tabfront { background-color:#d4dde6; }
.tabhead {
  white-space:nowrap;
  background-color:#7a7a7a;
  color:#ffffff;
  text-align:center;
}
.tabhead_offduty {
  white-space:nowrap;
  background-color:#dde375;
  color:#000000;
}
.tabfooter {
  white-space:nowrap;
  background-color:#9a9a9a;
  color:#ffffff;
  text-align:center;
}
.headercelldiv {
  padding-top:1px;
  padding-right:3px;
  padding-left:3px;
  padding-bottom:0px;
  white-space:nowrap;
  overflow:hidden;
}
.celldiv {
  padding:1px 3px 2px 3px;
  white-space:nowrap;
  overflow:hidden;
  position: relative;
}
.tabline { color:#000000 }
.tabcell {
  white-space:nowrap;
  overflow:hidden;
  padding:0px;
}
.taskcell1 {
  background-color:#ebf2ff;
  white-space:nowrap;
  padding:0px;
}
.taskcell2 {
  background-color:#d9dfeb;
  white-space:nowrap;
  padding:0px;
}
.resourcecell1 {
  background-color:#fff2eb;
  white-space:nowrap;
  padding:0px;
}
.resourcecell2 {
  background-color:#ebdfd9;
  white-space:nowrap;
  padding:0px;
}
.busy1 { background-color:#ff3b3b; }
.busy2 { background-color:#eb4545; }
.loaded1 { background-color:#ff9b9b; }
.loaded2 { background-color:#eb8f8f; }
.free1 { background-color:#a5ffb4; }
.free2 { background-color:#98eba6; }
.offduty1 { background-color:#f3f990; }
.offduty2 { background-color:#dde375; }
.calconttask1 { background-color:#abbeae; }
.calconttask2 { background-color:#99aa9c; }
.caltask1 { background-color:#2050e5; }
.caltask2 { background-color:#2f57ea; }
.todo1 { background-color:#beabab; }
.todo2 { background-color:#aa9999; }

.tabvline {
  background-color:#9a9a9a;
  position:absolute;
}
.containerbar {
  background-color:#09090a;
  position:absolute;
}
.taskbarframe {
  background-color:#09090a;
  position:absolute;
}
.taskbar {
  background-color:#2f57ea;
  position:absolute;
}
.progressbar {
  background-color:#36363f;
  position:absolute;
}
.milestone {
  background-color:#09090a;
  position:absolute;
}
.loadstackframe {
  background-color:#452a2a;
  position:absolute;
}
.free {
  background-color:#a5ffb5;
  position:absolute;
}
.busy {
  background-color:#ff9b9b;
  position:absolute;
}
.assigned {
  background-color:#ff3b3b;
  position:absolute;
}
.offduty {
  background-color:#f3f990;
  white-space:nowrap;
  position:absolute;
}
.depline {
  background-color:#000000;
  position:absolute;
}
.nowline {
  background-color:#EE0000;
  position:absolute;
}
.white {
  background-color:#FFFFFF;
  position:absolute;
}


.navbar_current {
  background-color:#606060;
  font-size:13px;
  font-weight:bold;
  color:#FFFFFF;
  padding:5px;
}
.navbar_others {
  background-color:#FFFFFF;
  font-size:13px;
  padding:5px;
}
.copyright {
  font-size:9px;
  color:#101010;
  text-align:center;
  margin-top:10px;
}

